* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
}

header, main {
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    background-color: lightcoral;
}

section {
    background-color: greenyellow;
    margin: 2%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
}

p, ul {
    background-color: coral;
}

.max-50porc {
    max-width: 50%;
    max-height: 50%;
}