<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask - MVT</title>
</head>
<body>
    <header>
        Datos de la BBDD
    </header>
    <main>
        <section>
            <h2>Contenido de la tabla</h2>
            <!-- Acá los datos -->
        </section>
    </main>
    <footer>
        <p>Clases finales con Python, Flask, MySQL y Jinja (además de HTML, CSS y JS)</p>
    </footer>
</body>
</html>