{% extends "base.html" %}

{% block contenido %}
    <h2 class="color5">Acerca del Proyecto EdTech</h2>
    <div class="articulos unaColumna">
        <article>
            <p>Este sitio fué desarrollado como guía para el curso de <b>Python Fullstack</b> del programa Codo a Codo.</p>
            <p>Información disponible y funcionalidad:</p>
            <ul>
                <li>- Sitio simil «back office»;</li>
                <li>- API pública y con conexión para el frontend desarrollado.</li>
            </ul>
        </article>
    </div>
{% endblock contenido %}